In [1]:
import duckdb
import pandas as pd

from utils import analyze_dataframe

In [2]:
df = pd.read_csv('../data/demographics.csv')

In [3]:
df["annual_income"] = (
    df["annual_income"]
    .astype(str)
    .str.replace("$", "", regex=False)
    .str.replace(",", "", regex=False)
    .astype(float)
)

In [4]:
con = duckdb.connect("../dataset.duckdb")

In [5]:
con.execute("CREATE OR REPLACE TABLE demographics AS SELECT * FROM df")

In [6]:
new_df = con.execute("SELECT * FROM demographics").fetch_df()
analyze_dataframe(new_df, 'demographics', ['cust_id'])

================================================================================
ANALYSIS OF TABLE: demographics
================================================================================
Columns: ['cust_id', 'age', 'annual_income', 'employment_length', 'employment_type', 'education', 'marital_status', 'num_dependents']
Shape: (89999, 8)

================================================================================
NUMERIC COLUMNS ANALYSIS
================================================================================

--- age ---
Datatype        : int64
Null Count      : 0
Mean            : 38.7150
Median          : 38.0000
Min             : 18.0000
Max             : 74.0000
Std Dev         : 10.8052
1st Percentile  : 19.0000
2nd Percentile  : 19.0000
3rd Percentile  : 20.0000
4th Percentile  : 21.0000
5th Percentile  : 22.0000
25th Percentile : 31.0000
50th Percentile : 38.0000
75th Percentile : 46.0000
95th Percentile : 57.0000

--- annual_income ---
Datatype        : float64
Null Count      : 0
Mean            : 47586.7321
Median          : 41100.0000
Min             : 20000.0000
Max             : 487200.0000
Std Dev         : 26691.1597
1st Percentile  : 20000.0000
2nd Percentile  : 20000.0000
3rd Percentile  : 20000.0000
4th Percentile  : 20000.0000
5th Percentile  : 20000.0000
25th Percentile : 28100.0000
50th Percentile : 41100.0000
75th Percentile : 59300.0000
95th Percentile : 98500.0000

--- employment_length ---
Datatype        : float64
Null Count      : 2253
Mean            : 5.5149
Median          : 5.2000
Min             : 0.0000
Max             : 23.9000
Std Dev         : 3.2682
1st Percentile  : 0.2000
2nd Percentile  : 0.3000
3rd Percentile  : 0.5000
4th Percentile  : 0.6000
5th Percentile  : 0.8000
25th Percentile : 3.0000
50th Percentile : 5.2000
75th Percentile : 7.7000
95th Percentile : 11.4000

--- num_dependents ---
Datatype        : int64
Null Count      : 0
Mean            : 1.1994
Median          : 1.0000
Min             : 0.0000
Max             : 5.0000
Std Dev         : 1.1366
1st Percentile  : 0.0000
2nd Percentile  : 0.0000
3rd Percentile  : 0.0000
4th Percentile  : 0.0000
5th Percentile  : 0.0000
25th Percentile : 0.0000
50th Percentile : 1.0000
75th Percentile : 2.0000
95th Percentile : 3.0000

================================================================================
CATEGORICAL COLUMNS ANALYSIS
================================================================================

--- employment_type ---
Datatype        : object
Null Count      : 0
Distinct Values : 16

Top 10 Values with Counts:
  1. Full-time: 12716
  2. Full Time: 12692
  3. FULL_TIME: 12608
  4. Fulltime: 12582
  5. FT: 12419
  6. SELF_EMPLOYED: 3409
  7. Self Emp: 3397
  8. Self Employed: 3327
  9. Self-employed: 3303
  10. PART_TIME: 2296

--- education ---
Datatype        : object
Null Count      : 0
Distinct Values : 5

Top 10 Values with Counts:
  1. Bachelor: 26326
  2. Some College: 21543
  3. High School: 18794
  4. Graduate: 15585
  5. Advanced: 7751

--- marital_status ---
Datatype        : object
Null Count      : 0
Distinct Values : 3

Top 10 Values with Counts:
  1. Married: 51889
  2. Single: 29806
  3. Divorced: 8304

================================================================================

In [7]:
con.close()