In [1]:
import duckdb
import pandas as pd

from utils import analyze_dataframe

In [2]:
df = pd.read_xml('../data/geographic_data.xml')

In [3]:
con = duckdb.connect('../dataset.duckdb')

con.execute("CREATE OR REPLACE TABLE geographic_data AS SELECT * FROM df")

new_df = con.execute("SELECT * FROM geographic_data").fetch_df()
analyze_dataframe(new_df, 'geographic_data', ['id'])
con.close()

================================================================================
ANALYSIS OF TABLE: geographic_data
================================================================================
Columns: ['id', 'state', 'regional_unemployment_rate', 'regional_median_income', 'regional_median_rent', 'housing_price_index', 'cost_of_living_index', 'previous_zip_code']
Shape: (89999, 8)

================================================================================
NUMERIC COLUMNS ANALYSIS
================================================================================

--- regional_unemployment_rate ---
Datatype        : float64
Null Count      : 0
Mean            : 4.6827
Median          : 4.6000
Min             : 2.8000
Max             : 6.5000
Std Dev         : 0.5963
1st Percentile  : 3.5000
2nd Percentile  : 3.6000
3rd Percentile  : 3.7000
4th Percentile  : 3.7000
5th Percentile  : 3.8000
25th Percentile : 4.2000
50th Percentile : 4.6000
75th Percentile : 5.1000
95th Percentile : 5.7000

--- regional_median_income ---
Datatype        : int64
Null Count      : 0
Mean            : 64892.5321
Median          : 61000.0000
Min             : 53000.0000
Max             : 84000.0000
Std Dev         : 9599.1301
1st Percentile  : 53000.0000
2nd Percentile  : 53000.0000
3rd Percentile  : 53000.0000
4th Percentile  : 54000.0000
5th Percentile  : 54000.0000
25th Percentile : 56000.0000
50th Percentile : 61000.0000
75th Percentile : 75000.0000
95th Percentile : 82000.0000

--- regional_median_rent ---
Datatype        : float64
Null Count      : 0
Mean            : 1555.2382
Median          : 1500.0000
Min             : 980.0000
Max             : 2890.0000
Std Dev         : 267.7400
1st Percentile  : 1120.0000
2nd Percentile  : 1150.0000
3rd Percentile  : 1170.0000
4th Percentile  : 1190.0000
5th Percentile  : 1200.0000
25th Percentile : 1340.0000
50th Percentile : 1500.0000
75th Percentile : 1750.0000
95th Percentile : 2040.0000

--- housing_price_index ---
Datatype        : float64
Null Count      : 0
Mean            : 119.0749
Median          : 111.0000
Min             : 71.0000
Max             : 181.0000
Std Dev         : 23.4885
1st Percentile  : 85.0000
2nd Percentile  : 87.0000
3rd Percentile  : 88.0000
4th Percentile  : 89.0000
5th Percentile  : 90.0000
25th Percentile : 100.0000
50th Percentile : 111.0000
75th Percentile : 138.0000
95th Percentile : 162.0000

--- cost_of_living_index ---
Datatype        : float64
Null Count      : 0
Mean            : 97.3934
Median          : 91.0000
Min             : 53.0000
Max             : 147.0000
Std Dev         : 17.9943
1st Percentile  : 69.0000
2nd Percentile  : 71.0000
3rd Percentile  : 72.0000
4th Percentile  : 74.0000
5th Percentile  : 74.0000
25th Percentile : 83.0000
50th Percentile : 91.0000
75th Percentile : 114.0000
95th Percentile : 129.0000

--- previous_zip_code ---
Datatype        : int64
Null Count      : 0
Mean            : 549.2163
Median          : 550.0000
Min             : 100.0000
Max             : 998.0000
Std Dev         : 259.6776
1st Percentile  : 109.0000
2nd Percentile  : 118.0000
3rd Percentile  : 126.0000
4th Percentile  : 136.0000
5th Percentile  : 145.0000
25th Percentile : 324.0000
50th Percentile : 550.0000
75th Percentile : 775.0000
95th Percentile : 953.0000

================================================================================
CATEGORICAL COLUMNS ANALYSIS
================================================================================

--- state ---
Datatype        : object
Null Count      : 0
Distinct Values : 20

Top 10 Values with Counts:
  1. CA: 11552
  2. TX: 9595
  3. FL: 7806
  4. NY: 7595
  5. IL: 4771
  6. PA: 4684
  7. OH: 3842
  8. NC: 3839
  9. MI: 3838
  10. GA: 3779

================================================================================